fastapi>=0.115.0,<0.116.0
uvicorn[standard]>=0.20.0
SQLAlchemy>=1.4
psycopg2-binary>=2.9
alembic>=1.11
pydantic>=2.7,<3
python-dotenv>=1.0
prometheus-fastapi-instrumentator>=6.1.0
cryptography>=3.4
PyJWT>=2.6
python-multipart
pwdlib>=0.3.0
passlib>=1.7
pwdlib[argon2]
pydantic[email]>=2.7,<3